body {
	margin: 0px;
	padding: 5px;
	background-color: #001820;
	display: grid;
	grid-template-columns: 50vh 20vh auto;
	grid-template-rows: calc(100vh - 10px);
	overflow: hidden;
}

div.cell {
	margin: 5px;
	border: 5px solid transparent;
	background-color: #001820;
}

.board-container {
	border: 1px solid white;
}

.board {
	display: grid;
	padding: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

.previewer-container {
	max-height: calc(calc(100vh - 10px) / 10);
}

.previewer {
	display: grid;
	padding: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

.sidebar {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 2fr 8fr;
}

.sidebar-item {
	color: white;
	font-family: monospace;
}

.left-aligned {
	align-items: flex-start;
	justify-content: flex-start;
	padding-left: 10px;
}
.right-aligned {
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 10px;
}
.center-aligned {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.vertical-stack {
	display: flex;
	flex-direction: column;
}
.horizontal-stack {
	display: flex;
	flex-direction: row;
}

.score-board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.arrow-key-command {
	border-radius: 10px;
	color: white;
	font-size: 50px;
	font-family: monospace;
	background-color: transparent;
	border: none;
	outline: none;
	width: 75px;
	height: 75px;
}
.arrow-key-command:hover {
	color: rgba(127, 127, 127, 1);
}

.spacebar-command {
	border-radius: 10px;
	color: rgba(127, 127, 127, 1);
	font-size: 26px;
	font-family: monospace;
	font-weight: 700
	background-color: white;
	border: none;
	outline: none;
	width: 75px;
	height: 75px;
}
.spacebar-command:hover {
	color: rgba(63, 63, 63, 1);
	background-color: rgba(127, 127, 127, 1);
}

#score-display {
	font-family: monospace;
	font-size: 27px;
	color: white;
}

#play-button {
	border-radius: 10px;
	color: rgba(127, 127, 127, 1);
	font-size: 26px;
	font-family: monospace;
	font-weight: 700;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	outline: none;
}

#play-button:hover {
	color: rgba(63, 63, 63, 1);
	background-color: rgba(127, 127, 127, 1);
}